<% include header %>
<header>
    <h1>Ntalk</h1>
    <h4>Todo mundo erra e dessa vez fomos nos :(</h4>
</header>
<p>
    Veja os detalhes do erro:<br>
    <%- error.message %>
</p>
<hr>
<p>Vamos voltar para a <a href="/">home page?</a> :)</p>
<% include footer %>